QTableView {
    qproperty-readItemBackground: #EEE;
}
MainWindow {
    qproperty-settingsIcon: url('default/settings.png');
    qproperty-feedAddIcon: url('default/feed_add.png');
    qproperty-folderAddIcon: url('default/folder_add.png');
}
